*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0d0d1a;
  color: #eee;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

input::placeholder { color: #555; }
input:focus        { border-color: #76b900 !important; }
